- unless @product.auctions?
  %h2 Put this product to auction

  =form_for [@product, Auction.new] do |f|
    %p
      =f.text_field :value
    %p
      =f.datetime_select :ends_at
    %p
      =f.button class: 'btn btn-primary btn-sm'
